.Home {
}

.content {

}

.entry-card-title {
  
}

.entry-form {
}

.entry-card {
  background-image: url("/public/entrycardfbg.PNG");
  background-size: cover;
  /* Other background styles */
}

.admission {
  background-image: url("/public/entrycardfbg.PNG");
  background-size: cover;
  /* Other background styles */
}